body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: white;
}
.main{
    border-style: solid;
    border-color: black;
    width: 50rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#btn {
margin: 1rem;
padding:1rem;
}